/.quarto/

/zig-out/
/zig-cache/
/**/zig-out/
/**/zig-cache/

/**/.zig-out/
/**/.zig-cache/

./lldb/
lldb

foo.txt

*.o
*.a
*.aux
*.log
*.toc

flake.lock

Chapters/15-vectors_files/
