/*-- scss:defaults --*/

$dark-code-color: #9915e6;
$dark-code-color-background: #222222;

/*-- scss:rules --*/

p code {
  color: $dark-code-color;
  background-color: $dark-code-color-background;
}

p code:not(.sourceCode) {
  color: $dark-code-color;
  background-color: $dark-code-color-background;
}


h1 code {
  color: $dark-code-color;
  background-color: $dark-code-color-background;
}

h2 code {
  color: $dark-code-color;
  background-color: $dark-code-color-background;
}

h3 code {
  color: $dark-code-color;
  background-color: $dark-code-color-background;
}

h4 code {
  color: $dark-code-color;
  background-color: $dark-code-color-background;
}
